node_modules
.pnpm-store
# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Vitest coverage
/test/coverage